//reset slick slider css
.slick-prev {
  left: -10px !important;
  z-index: 99 !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  opacity: 0.75 !important;
  border: 2px solid #d7d7d7 !important;
  &.slick-disabled {
    display: none !important;
  }
  &:hover {
    background-color: #eceaea !important;
  }
}
.slick-prev::before,
.slick-next::before {
  font-family: "FrontAwesome" !important;
  color: red !important;
}
.slick-next {
  right: -10px !important;
  z-index: 99 !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  opacity: 0.75;
  border: 2px solid #d7d7d7 !important;
  &.slick-disabled {
    display: none !important;
  }
  &:hover {
    background-color: #eceaea !important;
  }
}

.section-share {
  height: 330px;

  .section-body {
    .section-customize-wrap {
      position: relative;
      height: 180px;
      .section-customize {
        width: 95%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .bg-image-wrap {
          width: 100%;
          height: 150px;
          position: relative;
          .bg-image {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .section-customize__title {
          margin-top: 10px;
        }
      }
    }
  }
  .section-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
      .title-section {
        font-size: 22px;
        font-weight: 600;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background-color: #ebebeb;
        color: #000;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background-color: #f7d800;
          cursor: pointer;
        }
      }
    }
  }
}
