//reset slick slider css
.slick-prev {
  left: -10px !important;
  z-index: 99 !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  opacity: 0.75 !important;
  border: 2px solid #d7d7d7 !important;
  &.slick-disabled {
    display: none !important;
  }
  &:hover {
    background-color: #eceaea !important;
  }
}
.slick-prev::before,
.slick-next::before {
  font-family: "FrontAwesome" !important;
  color: red !important;
}
.slick-next {
  right: -10px !important;
  z-index: 99 !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  opacity: 0.75;
  border: 2px solid #d7d7d7 !important;
  &.slick-disabled {
    display: none !important;
  }
  &:hover {
    background-color: #eceaea !important;
  }
}

.section-share {
  .section-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    .section-header {
      margin-bottom: 20px;
      padding-top: 30px;
      .title-section {
        font-size: 22px;
        font-weight: 600;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background-color: #ebebeb;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background-color: #f7d800;
          cursor: pointer;
        }
      }
    }
    .section-body {
      padding-bottom: 40px;
      .section-customize {
        display: block !important;
        width: auto !important;
        margin: 5px;
        .section-customize__link {
          text-decoration: none;
          .section-customize__image {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .section-customize__title {
            margin: 10px 0 0 0;
            color: #111;
            font-weight: 400;
            font-size: 14px;
          }
          &:hover {
            .section-customize__title {
              color: #45c3d2;
            }
          }
        }
      }
    }
  }
}
